{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Add an address you want to track:</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% include '_addresses.html' %}
    
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}"> <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer addresses
                    </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}"> <a href="{{ next_url or '#' }}">
                        Older addresses <span aria-hidden="true">&rarr;</span>
                    </a>
            </li>
        </ul>
    </nav>
    {% endblock %}
