{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid" style="width: 99%" id="content-address-details">
    <div class="container-fluid">
        <br>
        {% if addresses %}
        <table> 
            <tr>
                <td>
                <h3>Addresses with new TXs:</h3><br></td>
                <td>
                    {% if form %}
                    {{ wtf.quick_form(form, method="POST")}}
                    {% endif %}
                </td>
            </tr>
        </table>

    {% include '_newtxlist.html' %}
    
        {% else %}
        <h3>Here seems to be nothing...</h3>
        <br>
        {% endif %}
        <br>
    </div>
</div>
{% endblock %}
